<div id="app" class="wrapper">
  <app-principal></app-principal>
  <div class="content-wrapper">
    <section class="p-4 container-fluid">
      <h4 class="mb-3" style="color: #464646;">Inicio > <span style="color: black;">Publicaciones</span></h4>
      <div class="tarjetas-container">

        <!-- Componente Tarjeta -->
        <div class="card p-3">
          <div class="d-flex justify-content-between">
            <h5 class="pt-1 pb-1 text-black"><i class="fas fa-user-friends"></i> Erick Antillón </h5>
            <!-- Boton eliminar :v -->
            <button class="pt-1 mb-2" style="background: none;border: none;"><i class="fas fa-trash-alt"
                style="font-size: large;"></i></button>
          </div>
          <hr class="mt-0 mb-2">
          <div class="mb-1"><a href="#" class="text-primary ">Practicas iniciales - Seccion F</a></div>
          <div class="mb-2"><a href="#" class="text-primary">Ing. Chocomax</a></div>
          <p class="comentario-publicacion"><i class="fas fa-quote-left"></i> Comentario Lorem, ipsum dolor sit amet
            consectetur
            adipisicing elit. Non, id molestiae. Animi officia vel accusantium exercitationem adipisci, commodi
            assumenda possimus.</p>
          <hr>
          <div class="botones-publicacion">
            <a href="#" class="ver-comentarios mr-2 p-1" data-toggle="modal" data-target=".bd-example-modal-lg"><i
                class="far fa-comment-alt"></i> Ver comentarios</a>
            <a href="#" class="comentar mr-2 p-1" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="far fa-edit"></i> Comentar</a>
            <a href="#" class="ver-perfil mr-2 p-1"><i class="far fa-user"></i> Ver perfil</a>
          </div>
        </div>
        <!-- Modal Comentarios Tarjeta -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-comment-alt mr-1"></i> Comentarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <!-- Comentario -->
              <div class="comentario d-flex align-items-center p-1 pl-2">
                <!--Iniciales-->
                <div class="logo-user-container d-flex mt-3 align-self-start">
                  <div class="logo-user ">JR</div>
                </div>
                <div class="contenido p-3">
                  <!--Div Titulo-->
                  <div class="titulo-comentario d-flex flex-row align-items-center">
                    <h5 class="m-0">Juanito Reyes</h5>
                    <!--Fecha y hora-->
                    <p class="fecha-comentario m-0 ml-2">11/11/2020, 01:52 p.m</p>
                  </div>
                  <!--Contenido del comentario-->
                  <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium officiis, minus cum
                      voluptatum ullam, adipisci doloribus modi, dolores dolorum ratione alias temporibus nesciunt
                      iusto. Blanditiis, doloribus quis aliquid rem sequi voluptatem cum vel, velit mollitia sunt porro
                      fugit, nemo obcaecati?</p>
                  </div>
                </div>
              </div>
              <!-- Fin Comentario -->

            </div>
          </div>
        </div>
        <!-- Fin Modal Comentarios -->

        <!-- Modal Crear Comentario -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-edit"></i> Nuevo Comentario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Autor:</label>
                    <input type="text" class="form-control" id="recipient-name" disabled placeholder="El nombre del autor  no se:v">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Mensaje:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <!-- Botón Publicar-->
                <button type="button" class="btn btn-primary">Publicar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Modal Crear Comentario -->



        <!-- ----------------Fin Tarjeta-------------- -->

      </div>
    </section>
  </div>
</div>
