<div id="app" class="wrapper">
  <app-principal></app-principal>
  <div class="content-wrapper">
      <section class="p-2 container-fluid">
        <div class="modal fade" id="Semestre" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-white" style="background-color: #0086c3;">
                <h5 class="modal-title" id="exampleModalLongTitle">Semestre</h5>
                <button data-toggle="modal" data-target="#Semestre" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body scroll" style="max-height: 83vh;">
                <div class="row justify-content-center">
                  <div class="col col-3 " style="height:10em;">
                    <div class="row justify-content-center h-100 align-content-center">
                      <div class="boton1 h-100" style="width: 10em; border-radius: 100%;">

                      </div>
                    </div>
                  </div>
                  <div class="col col-3 " style="height:10em;">
                    <div class="row justify-content-center h-100 align-content-center">
                      <div class="boton2 h-100" style="width: 10em; border-radius: 100%;">

                      </div>
                    </div>
                  </div>
                  <div class="col col-3 " style="height:10em;">
                    <div class="row justify-content-center h-100 align-content-center">
                      <div class="boton3 h-100" style="width: 10em; border-radius: 100%;">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2>Pensum</h2>
        <div class="row justify-content-center align-content-center" style="height: 79vh;">
          <div class="col col-12 mb-5">
            <div class="row justify-content-lg-around">
              <div class="col-1">
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button (click)="obtenerPensum(1)" data-toggle="modal" data-target="#Semestre" class="boton1 zoom">Primer<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button (click)="obtenerPensum(2)" data-toggle="modal" data-target="#Semestre" class="boton2 zoom">Segundo<br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button (click)="obtenerPensum(3)" data-toggle="modal" data-target="#Semestre" class="boton3 zoom">Tercer<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button (click)="obtenerPensum(4)" data-toggle="modal" data-target="#Semestre" class="boton1 zoom">Cuarto <br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button (click)="obtenerPensum(5)" data-toggle="modal" data-target="#Semestre" class="boton2 zoom">Quinto<br>Semestre</button>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>

          <div class="col col-12 mb-5 mt-5">
            <hr>
          </div>
          <div class="col col-12">
            <div class="row justify-content-around">
              <div class="col-1">
              </div>
              <div class="col-2 H-100 w-100">
                <button (click)="obtenerPensum(6)" data-toggle="modal" data-target="#Semestre" class="boton3 zoom">Sexto<br>Semestre</button>
                <header class="labelder"></header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label></header>
                <button (click)="obtenerPensum(7)" data-toggle="modal" data-target="#Semestre" class="boton1 zoom">Séptimo<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button (click)="obtenerPensum(8)" data-toggle="modal" data-target="#Semestre" class="boton2 zoom">Octavo <br>Semestre</button>
                <header class="labelder"></header>
                </div>
              <a class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button (click)="obtenerPensum(9)" data-toggle="modal" data-target="#Semestre" class="boton3 zoom">Noveno <br>Semestre</button>
              </a>
              <div class="col-2 H-100 w-100">
                <button (click)="obtenerPensum(10)" data-toggle="modal" data-target="#Semestre" class="boton1 zoom">Décimo<br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>
