<div id="app" class="wrapper">
  <app-principal></app-principal>
  <div class="content-wrapper">
      <section class="p-2 container-fluid">
        <div class="modal fade" id="CargarCurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-white" style="background-color: #0086c3;">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
            </div>
          </div>
        </div>
        <h2>Pensum</h2>
        <div class="row justify-content-center align-content-center" style="height: 79vh;">
          <div class="col col-12 mb-5">
            <div class="row justify-content-lg-around">
              <div class="col-1">
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button class="boton1 zoom">Primer<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button class="boton2 zoom">Segundo<br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button class="boton3 zoom">Tercer<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button class="boton1 zoom">Cuarto <br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button class="boton2 zoom">Quinto<br>Semestre</button>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>

          <div class="col col-12 mb-5 mt-5">
            <hr>
          </div>
          <div class="col col-12">
            <div class="row justify-content-around">
              <div class="col-1">
              </div>
              <div class="col-2 H-100 w-100">
                <button class="boton3 zoom">Sexto<br>Semestre</button>
                <header class="labelder"></header>
              </div>
              <div class="col-2 H-100 w-100">
                <header class="labelizq"><label></label></header>
                <button class="boton1 zoom">Séptimo<br>Semestre</button>
              </div>
              <div class="col-2 H-100 w-100">
                <button class="boton2 zoom">Octavo <br>Semestre</button>
                <header class="labelder"></header>
                </div>
              <a class="col-2 H-100 w-100">
                <header class="labelizq"><label></label> </header>
                <button class="boton3 zoom">Noveno <br>Semestre</button>
              </a>
              <div class="col-2 H-100 w-100">
                <button class="boton1 zoom">Décimo<br>Semestre</button>
                <header class="labelder"> </header>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>
