<div id="app" class="wrapper">
  <app-principal></app-principal>
  <div class="content-wrapper">
    <section class="p-2 container-fluid p-4">
      <div class="row" style="height: 27vh;">
        <div class="col col-12 col-md-9 h-100">
          <div class="card h-100" style="border-radius: 40px;">
            <div class="card-body">
              <div class="w-100">
                <div class="row justify-content-around">
                  <div class="col col-md-2">
                    <img src="assets/public/IMG/descarga.png" alt="" class="card-img-top">
                  </div>
                  <div class="col col-12 col-md-9">
                    <div class="row h-100 align-content-around">
                      <div class="col col-12">
                        <p class="w-100 h1">{{ usuario.Nombres }} {{ usuario.Apellido }}</p>
                        <p class="w-100 h5">{{ usuario.Correo }}</p>
                      </div>
                      <div class="col col-12 font-weight-bold">
                          <div class="row justify-content-around">
                            <div class="col col-md-4">
                              <button class="btt-wave redondear btn-block">Modificar</button>
                            </div>
                            <div class="col col-md-4">
                              <button class="btt-ocean redondear btn-block">Pensum</button>
                            </div>
                            <div class="col col-md-4">
                              <button class="btt-deepAqua redondear btn-block">Cargar Cursos</button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-3 h-100">
          <div class="card h-100" style="border-radius: 40px;">
            <div class="card-body">
              <div class="w-100 text-center">
                <p class="w-100 h4">Creditos</p>
                <p class="display-3">80</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 mt-4" style="max-height: 57vh;">
          <div class="card h-100 scroll" style="border-radius: 10px;">
            <div class="card-body">
              <table datatable  class="table table-bordered" style="width:100%">
                <thead class="colorTabla text-white font-weight-bold">
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th>Nombre del curso</th>
                        <th class="text-center">Nota</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">101</td>
                    <td>Matematica Basica 1</td>
                    <td class="text-center">88</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
