
<div id="app" class="wrapper">
  <div class="modal fade" id="EditarDatos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-white" style="background-color: #0086c3;">
          <h5 class="modal-title" id="exampleModalLongTitle">Modificar Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="Nombres">Nombres</label>
                  <input type="text" name="Nombres" id="Nombres" [(ngModel)]="usuario.Nombres" class="form-control">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="Apellido">Apellidos</label>
                  <input type="text" name="Apellido" id="Apellido" [(ngModel)]="usuario.Apellido" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Nombres">Correo Electronico</label>
              <input type="email" name="correo" id="correo" [(ngModel)]="usuario.Correo" class="form-control">
            </div>
            <div class="row">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="Nombres">Contraseña</label>
                  <input type="password" name="password" id="password" [(ngModel)]="usuario.Password" class="form-control">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="Apellido">Nueva Contraseña</label>
                  <input type="password" name="nuevo" id="nuevo" [(ngModel)]="usuario.Confirmar" class="form-control">
                </div>
              </div>
            </div>
            <div class="row justify-content-around">
              <div class="col col-4">
                <button class="btt btn-block btt-btn1 redondear" (click)="Actualizar()" data-dismiss="modal">Actualizar</button>
              </div>
              <div class="col col-4">
                <button class="btt btn-dark btn-block redondear" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="CargarCurso" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-white" style="background-color: #0086c3;">
          <h5 class="modal-title" id="exampleModalLongTitle">Modificar Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

            <div class="form-group">
              <div class="row">
                <div class="col col-8">
                  <label for="">Curso</label>
                  <select name="" id="" class="form-control">
                    <option value="">Curso1</option>
                  </select>
                </div>
                <div class="col col-4">
                  <label for="">Nota</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <div class="col col-2">
                <button class="btt btn-block btt-btn1 redondear text-white" (click)="Actualizar()" data-dismiss="modal">Actualizar</button>
              </div>
              <div class="col col-2">
                <button class="btt btn-dark btn-block redondear" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-principal></app-principal>
  <div class="content-wrapper">
    <section class="p-2 container-fluid p-4">
      <div class="row" style="height: 27vh;">
        <div class="col col-12 col-md-9 h-100">
          <div class="card h-100" style="border-radius: 40px;">
            <div class="card-body">
              <div class="w-100">
                <div class="row justify-content-around">
                  <div class="col col-md-2">
                    <img src="assets/public/IMG/FACING.png" alt="" class="card-img-top">
                  </div>
                  <div class="col col-12 col-md-9">
                    <div class="row h-100 align-content-around">
                      <div class="col col-12">
                        <p class="w-100 display-4" style="font-family: ubuntu;">{{ usuario.Nombres }} {{ usuario.Apellido }}</p>
                        <p class="w-100 h5" style="font-family: ubuntu;">{{ usuario.Correo }}</p>
                      </div>
                      <div class="col col-12 font-weight-bold">
                          <div class="row justify-content-around">
                            <div class="col col-md-4">
                              <button class="btt btt-wave redondear btn-block" data-toggle="modal" data-target="#EditarDatos">Modificar</button>
                            </div>
                            <div class="col col-md-4">
                              <button [routerLink]="['/Pensum/']" class="btt btt-ocean redondear btn-block">Pensum</button>
                            </div>
                            <div class="col col-md-4">
                              <button class="btt btt-deepAqua redondear btn-block" data-toggle="modal" data-target="#CargarCurso">Cargar Cursos</button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 col-md-3 h-100">
          <div class="card h-100" style="border-radius: 40px;">
            <div class="card-body">
              <div class="w-100 text-center">
                <p class="w-100 h4">Creditos</p>
                <p class="display-3">80</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-12 mt-4" style="max-height: 57vh;">
          <div class="card h-100 scroll" style="border-radius: 10px;">
            <div class="card-body">
              <table datatable  class="table table-bordered" style="width:100%">
                <thead class="colorTabla text-white font-weight-bold">
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th>Nombre del curso</th>
                        <th class="text-center">Nota</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">101</td>
                    <td>Matematica Basica 1</td>
                    <td class="text-center">88</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
